# Model Evaluation

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
file=pd.read_csv("/content/Admission_Predict.csv")
data=pd.DataFrame(file)

In [3]:
y=data['GRE Score']
y

0      337
1      324
2      316
3      322
4      314
      ...
395    324
396    325
397    330
398    312
399    333
Name: GRE Score, Length: 400, dtype: int64

In [4]:
x=data.drop(columns=['GRE Score'],axis=1)
x.head()

,Serial No.,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,118,4,4.5,4.5,9.65,1,0.92
1,2,107,4,4.0,4.5,8.87,1,0.76
2,3,104,3,3.0,3.5,8.00,1,0.72
3,4,110,3,3.5,2.5,8.67,1,0.80
4,5,103,2,2.0,3.0,8.21,0,0.65

In [5]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=50)

In [6]:
x_train.shape

(320, 8)

In [7]:
x_test.shape

(80, 8)

In [8]:
y_train.shape

(320,)

In [9]:
y_test.shape

(80,)

In [10]:
print(x_train.shape,x_test.shape)

(320, 8) (80, 8)

In [11]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor()
model.fit(x_train,y_train)

GradientBoostingRegressor()

In [12]:
model.score(x_test,y_test)

0.7826063111799377

In [13]:
from sklearn.metrics import accuracy_score
y_predict=model.predict(x_test)

In [19]:
X=data.drop(['Chance of Admit '],axis=1) #input data_set
y=data['Chance of Admit '] #output labels

In [20]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15)

In [21]:
y_train = (y_train>0.5)
y_test = (y_test>0.5)

In [23]:
from sklearn.linear_model._logistic import LogisticRegression

lore = LogisticRegression(random_state=0, max_iter=1000)

lr = lore.fit(X_train, y_train)

In [26]:
y_pred = lr.predict(X_test)

In [27]:
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score, confusion_matrix

print('Accuracy Score:', accuracy_score(y_test, y_pred))  
print('Recall Score:', recall_score(y_test, y_pred))  
print('ROC AUC Score:', roc_auc_score(y_test, y_pred))
print('Confussion Matrix:\n', confusion_matrix(y_test, y_pred))

Accuracy Score: 0.9
Recall Score: 0.9622641509433962
ROC AUC Score: 0.6954177897574124
Confussion Matrix:
 [[ 3  4]
 [ 2 51]]